# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo

# Bytecode compiled cache
*.pyc
*.pyd

# ============================
# Virtual Environments
# ============================
env/
venv/
jobenv/

# Environment Variables
*.env

# ============================
# Django
# ============================
db.sqlite3
*.log
*.pot
*.pyc
local_settings.py
media/

# ============================
# IDEs and Editors
# ============================
.vscode/
.idea/
*.swp

# ============================
# OS-specific
# ============================
.DS_Store
Thumbs.db
